* {
    margin: 0;
    padding: 0;/* 
    box-sizing: content-box;
    font-family: cursive; */
    
}


.container{
    width: 100%;
    height: 100%;
    background-color: rgb(55, 125, 216);
    min-height: 100vh;
    
    /* Flex */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.container a.whatsapp{
    width:80px; 
    height:80px;
    position: absolute;
    top: 100%;
    left: 100%;
    margin-top: -150px;
    margin-left: -150px;
}

.container a.whatsapp .whatsappIcon{
    width:80px; 
    height:80px;
    color:yellow;
}

body{
    background: #e9e9e9;
}



@media screen and (max-width: 800px) {
    .container{
        flex-direction: column;
    }

}