.footer{
    background: #1e5f74;
    width: 100%;
    padding: 25px 0px;

    /* Flex */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    /* align-items: flex-start; */
}

.footer .contact{
    text-align: center;
    width: 30%;
    min-width: 200px;

    /* Flex */
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
}

.footer .contact a{
    width: auto;
    text-decoration: none;
    color:#f0b9ce;
}

.footer .contact a:hover{
    color: blue;
}

.footer .follow{
    text-align: center;
    width: 30%;
    min-width: 150px;
    /* Flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer .follow a{
    text-decoration: none;
    color:#f0b9ce;
}

.footer .follow a:hover{
    color:blue;
}

.footer .ask{
    text-align: center;
    width: 30%;
    min-width: 150px;
    /* Flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer .ask a{
    text-decoration: none;
    color:#f0b9ce;
}

.footer .ask a:hover{
    color: blue;
}

.footer .ask p{
    color:#f0b9ce;
}

@media screen and (max-width: 800px) {
    .footer{
        flex-direction: column;
        align-items: center;
    }
    
    .footer .contact{
        width: 100%;
    }

    .footer .follow{
        width: 100%;
    }

    .footer .ask{
        width: 100%;
    }
}